dist/win-unpacked/resources/app.asar filter=lfs diff=lfs merge=lfs -text
dist/win-unpacked/HR-Manager.exe filter=lfs diff=lfs merge=lfs -text
dist/win-unpacked/*.asar filter=lfs diff=lfs merge=lfs -text
dist/win-unpacked/*.exe filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
src/assets/*.mp4 filter=lfs diff=lfs merge=lfs -text
src/assets/*.exe filter=lfs diff=lfs merge=lfs -text
